* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes button {
  0% {
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
  90% {
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
  91% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  92% {
    -webkit-transform: translateX(-20px) rotateX(10deg);
            transform: translateX(-20px) rotateX(10deg);
  }
  93% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  94% {
    -webkit-transform: translateX(-20px) rotateX(10deg);
            transform: translateX(-20px) rotateX(10deg);
  }
  95% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  96% {
    -webkit-transform: translateX(-20px) rotateX(10deg);
            transform: translateX(-20px) rotateX(10deg);
  }
  97% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  98% {
    -webkit-transform: translateX(-20px) rotateX(10deg);
            transform: translateX(-20px) rotateX(10deg);
  }
  99% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  100% {
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
}

@keyframes button {
  0% {
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
  90% {
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
  91% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  92% {
    -webkit-transform: translateX(-20px) rotateX(10deg);
            transform: translateX(-20px) rotateX(10deg);
  }
  93% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  94% {
    -webkit-transform: translateX(-20px) rotateX(10deg);
            transform: translateX(-20px) rotateX(10deg);
  }
  95% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  96% {
    -webkit-transform: translateX(-20px) rotateX(10deg);
            transform: translateX(-20px) rotateX(10deg);
  }
  97% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  98% {
    -webkit-transform: translateX(-20px) rotateX(10deg);
            transform: translateX(-20px) rotateX(10deg);
  }
  99% {
    -webkit-transform: translateX(20px) rotateX(-10deg);
            transform: translateX(20px) rotateX(-10deg);
  }
  100% {
    -webkit-transform: translateX(0) rotateX(0deg);
            transform: translateX(0) rotateX(0deg);
  }
}

@-webkit-keyframes menu-links-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-links-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes shadowAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-shadow: 0 0 0 var(--color-blue), 0 0 0 var(--color-aqua), 0 0 0 var(--color-red), 0 0 0 var(--color-yellow);
  }
  15% {
    -webkit-transform: translateY(-0.75em);
            transform: translateY(-0.75em);
    text-shadow: 0 0.125em 0 var(--color-blue), 0 0.25em 0 var(--color-aqua), 0 -0.125em 0 var(--color-red), 0 -0.25em 0 var(--color-yellow);
  }
  30% {
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
    text-shadow: 0 -0.0625em 0 var(--color-blue), 0 -0.125em 0 var(--color-aqua), 0 0.0625em 0 var(--color-red), 0 0.125em 0 var(--color-yellow);
  }
  45% {
    -webkit-transform: translateY(-0.15em);
            transform: translateY(-0.15em);
    text-shadow: 0 0.03125em 0 var(--color-blue), 0 0.0625em 0 var(--color-aqua), 0 -0.03125em 0 var(--color-red), 0 -0.0625em 0 var(--color-yellow);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-shadow: 0 0 0 var(--color-blue), 0 0 0 var(--color-aqua), 0 0 0 var(--color-red), 0 0 0 var(--color-yellow);
  }
}

@keyframes shadowAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-shadow: 0 0 0 var(--color-blue), 0 0 0 var(--color-aqua), 0 0 0 var(--color-red), 0 0 0 var(--color-yellow);
  }
  15% {
    -webkit-transform: translateY(-0.75em);
            transform: translateY(-0.75em);
    text-shadow: 0 0.125em 0 var(--color-blue), 0 0.25em 0 var(--color-aqua), 0 -0.125em 0 var(--color-red), 0 -0.25em 0 var(--color-yellow);
  }
  30% {
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
    text-shadow: 0 -0.0625em 0 var(--color-blue), 0 -0.125em 0 var(--color-aqua), 0 0.0625em 0 var(--color-red), 0 0.125em 0 var(--color-yellow);
  }
  45% {
    -webkit-transform: translateY(-0.15em);
            transform: translateY(-0.15em);
    text-shadow: 0 0.03125em 0 var(--color-blue), 0 0.0625em 0 var(--color-aqua), 0 -0.03125em 0 var(--color-red), 0 -0.0625em 0 var(--color-yellow);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-shadow: 0 0 0 var(--color-blue), 0 0 0 var(--color-aqua), 0 0 0 var(--color-red), 0 0 0 var(--color-yellow);
  }
}

.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header_logo {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 55px;
  width: 55px;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px;
  background-image: url(../assets/logo/logo.png);
  background-size: cover;
}

@media (min-width: 375px) and (min-height: 667px) {
  .header_logo {
    top: 30%;
    height: 75px;
    width: 75px;
  }
}

@media (min-width: 375px) and (min-height: 812px) {
  .header_logo {
    top: 32%;
    height: 85px;
    width: 85px;
  }
}

@media (min-width: 411px) {
  .header_logo {
    top: 32%;
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .header_logo {
    top: 30%;
    height: 75px;
    width: 75px;
  }
}

@media (min-width: 414px) and (min-height: 736px) {
  .header_logo {
    top: 32%;
    height: 75px;
    width: 75px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .header_logo {
    top: 12%;
    height: 60px;
    width: 60px;
  }
}

@media (min-width: 731px) and (orientation: landscape) {
  .header_logo {
    height: 65px;
    width: 65px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_logo {
    position: fixed;
    top: 50px;
    left: 70px;
    height: 100px;
    width: 100px;
    z-index: 2;
  }
}

@media (min-width: 1024px) {
  .header_logo {
    position: fixed;
    top: 40px;
    left: 60px;
    height: 70px;
    width: 70px;
    z-index: 1000;
  }
}

@media (min-width: 1366px) and (min-height: 1024px) {
  .header_logo {
    top: 50px;
    height: 80px;
    width: 80px;
  }
}

.header_logo-a {
  display: block;
  height: 100%;
  width: 100%;
}

.header_nav {
  position: fixed;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  height: 100vh;
  width: 100vw;
  background: var(--black);
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_nav {
    height: 100px;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  }
}

@media (min-width: 1024px) {
  .header_nav {
    height: 80px;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  }
}

@media (min-width: 1366px) and (min-height: 1024px) {
  .header_nav {
    height: 100px;
  }
}

.header_nav.active {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header_nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_nav-ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 100px;
  }
}

@media (min-width: 1024px) {
  .header_nav-ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 100px;
    padding-right: 50px;
  }
}

.header_nav-ul-li {
  font-size: 1.8rem;
  list-style: none;
  z-index: 998;
  opacity: 0;
}

@media (min-width: 411px) {
  .header_nav-ul-li {
    font-size: 1.9rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_nav-ul-li {
    font-size: 2rem;
    margin: 0 20px;
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .header_nav-ul-li {
    font-size: 1.9rem;
    margin: 0 20px;
    opacity: 1;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .header_nav-ul-li {
    font-size: 2.3rem;
  }
}

@media (min-width: 1366px) and (min-height: 1024px) {
  .header_nav-ul-li {
    font-size: 2.4rem;
  }
}

.header_nav-ul-li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 15vh;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_nav-ul-li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
  }
}

@media (min-width: 1024px) {
  .header_nav-ul-li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    height: 80px;
  }
  .header_nav-ul-li a:hover {
    color: var(--activeColor);
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .header_nav-ul-li a:hover::after {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}

@media (min-width: 1366px) and (min-height: 1024px) {
  .header_nav-ul-li a {
    height: 100px;
  }
}

.header_nav-ul-li a::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
  position: absolute;
  top: 80%;
  height: 3px;
  width: 200px;
  background: var(--activeColor);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@media (min-width: 768px) {
  .header_nav-ul-li a::after {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header_nav-ul-li a::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2px;
    width: 100%;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .header_nav-ul-li a::after {
    top: 90%;
  }
}

.header_burger {
  position: fixed;
  top: 2px;
  right: 10px;
  width: 55px;
  height: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  cursor: pointer;
  z-index: 999;
}

@media (min-width: 375px) and (min-height: 667px) {
  .header_burger {
    width: 60px;
    height: 50px;
  }
}

@media (min-width: 375px) and (min-height: 812px) {
  .header_burger {
    width: 70px;
    height: 53px;
  }
}

@media (min-width: 411px) {
  .header_burger {
    width: 70px;
    height: 55px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .header_burger {
    width: 75px;
    height: 55px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .header_burger {
    width: 60px;
    height: 50px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_burger {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header_burger {
    display: none;
  }
}

.header_burger.active span {
  background: #ffff00;
}

.header_burger.active span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

@media (min-width: 375px) and (min-height: 812px) {
  .header_burger.active span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(40deg);
            transform: translateY(10px) rotate(40deg);
  }
}

@media (min-width: 411px) {
  .header_burger.active span:nth-child(1) {
    -webkit-transform: translateY(11px) rotate(40deg);
            transform: translateY(11px) rotate(40deg);
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .header_burger.active span:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(43deg);
            transform: translateY(12px) rotate(43deg);
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .header_burger.active span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
}

.header_burger.active span:nth-child(2) {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.header_burger.active span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

@media (min-width: 375px) and (min-height: 812px) {
  .header_burger.active span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
  }
}

@media (min-width: 411px) {
  .header_burger.active span:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-40deg);
            transform: translateY(-11px) rotate(-40deg);
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .header_burger.active span:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(-43deg);
            transform: translateY(-12px) rotate(-43deg);
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .header_burger.active span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
}

.header_burger span {
  position: absolute;
  width: 60%;
  height: 4px;
  background: var(--white);
  left: 20%;
  border-radius: 10px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.2s;
  transition: opacity 0.3s, -webkit-transform 0.2s;
  transition: opacity 0.3s, transform 0.2s;
  transition: opacity 0.3s, transform 0.2s, -webkit-transform 0.2s;
}

.header_burger span:nth-child(1) {
  top: 14px;
}

.header_burger span:nth-child(2) {
  top: calc(50% - 2px);
}

.header_burger span:nth-child(3) {
  bottom: 14px;
}

.header_text {
  display: block;
  width: 260px;
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
}

@media (min-width: 375px) and (min-height: 812px) {
  .header_text {
    width: 300px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .header_text {
    top: 33%;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_text {
    top: 38%;
    width: 420px;
  }
}

@media (min-width: 1024px) {
  .header_text {
    top: 35%;
    width: 500px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .header_text {
    top: 38%;
    width: 550px;
  }
}

.header_text-h1 {
  display: inline;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  text-shadow: 0px 0px 4px var(--white);
}

@media (min-width: 375px) and (min-height: 812px) {
  .header_text-h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 411px) {
  .header_text-h1 {
    font-size: 1.6rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .header_text-h1 {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_text-h1 {
    font-size: 2.8rem;
  }
}

@media (min-width: 1024px) {
  .header_text-h1 {
    font-size: 2.7rem;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .header_text-h1 {
    font-size: 3.4rem;
  }
}

.header_text-cursor {
  display: inline-block;
  position: relative;
  bottom: 2px;
  font-size: 1.8rem;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
  color: white;
}

@media (min-width: 375px) and (min-height: 812px) {
  .header_text-cursor {
    font-size: 2rem;
    bottom: 4px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .header_text-cursor {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_text-cursor {
    font-size: 2.8rem;
    bottom: 7px;
  }
}

@media (min-width: 1024px) {
  .header_text-cursor {
    font-size: 3.2rem;
    bottom: 6px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .header_text-cursor {
    font-size: 4rem;
    bottom: 9px;
  }
}

.header_text-cursor.active {
  opacity: 1;
}

.header_hooby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_hooby span {
  height: 30px;
  width: 30px;
  margin: 5px;
}

@media (min-width: 411px) {
  .header_hooby span {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 375px) and (min-height: 667px) {
  .header_hooby span {
    height: 32px;
    width: 32px;
  }
}

@media (min-width: 375px) and (min-height: 812px) {
  .header_hooby span {
    height: 38px;
    width: 38px;
  }
}

@media (min-width: 414px) and (min-height: 736px) {
  .header_hooby span {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .header_hooby span {
    height: 28px;
    width: 28px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_hooby span {
    height: 60px;
    width: 60px;
  }
}

@media (min-width: 1024px) {
  .header_hooby span {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .header_hooby span {
    height: 70px;
    width: 70px;
  }
}

.header_hooby-svg1 {
  background-size: cover;
  background-image: url("../assets/hobbyIcon/coding.svg");
}

.header_hooby-svg2 {
  background-size: cover;
  background-image: url("../assets/hobbyIcon/computer.svg");
}

.header_hooby-svg3 {
  background-size: cover;
  background-image: url("../assets/hobbyIcon/gym.svg");
}

.header_hooby-svg4 {
  background-image: url("../assets/hobbyIcon/rainbow.svg");
}

.header_hooby-svg5 {
  background-image: url("../assets/hobbyIcon/rocket.svg");
}

.header_btn {
  height: 50px;
  position: absolute;
  font-weight: bold;
  bottom: 10%;
  right: 15%;
  padding: 5px;
  background: transparent;
  border: 1px solid;
  -webkit-box-shadow: 2px 2px 10px 2px grey;
          box-shadow: 2px 2px 10px 2px grey;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: -webkit-animation 0.3s linear opacity 0s;
  transition: -webkit-animation 0.3s linear opacity 0s;
  transition: animation 0.3s linear opacity 0s;
  transition: animation 0.3s linear opacity 0s, -webkit-animation 0.3s linear opacity 0s;
  outline: none;
  -webkit-animation: button 5s linear infinite;
          animation: button 5s linear infinite;
  cursor: pointer;
}

@media (min-width: 375px) and (min-height: 667px) {
  .header_btn {
    bottom: 8%;
    right: 10%;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .header_btn {
    right: 10%;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .header_btn {
    bottom: 5%;
    right: 5%;
    height: 40px;
    width: 150px;
  }
}

@media (min-width: 731px) and (orientation: landscape) {
  .header_btn {
    height: 50px;
    width: 170px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_btn {
    height: 70px;
  }
}

@media (min-width: 1024px) {
  .header_btn {
    right: 15%;
    bottom: 10%;
    height: 60px;
    width: 250px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .header_btn {
    height: 95px;
    width: 365px;
  }
}

@media (min-width: 1366px) and (min-height: 1024px) {
  .header_btn {
    height: 100px;
    width: 380px;
  }
}

.header_btn-spn {
  display: block;
  position: relative;
  left: -2px;
  bottom: 15px;
  height: 50px;
  width: 110%;
  line-height: 50px;
  border: 1px solid var(--white);
  color: #ffff00;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 6;
}

@media (min-width: 375px) and (min-height: 667px) {
  .header_btn-spn {
    font-size: 0.9rem;
  }
}

@media (min-width: 411px) {
  .header_btn-spn {
    font-size: 1rem;
  }
}

@media (min-width: 375px) and (min-height: 812px) {
  .header_btn-spn {
    font-size: 1rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .header_btn-spn {
    font-size: 1.1rem;
  }
}

@media (min-width: 414px) and (min-height: 736px) {
  .header_btn-spn {
    font-size: 1rem;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .header_btn-spn {
    height: 40px;
    line-height: 40px;
    font-size: 0.7rem;
  }
}

@media (min-width: 731px) and (orientation: landscape) {
  .header_btn-spn {
    height: 50px;
    line-height: 50px;
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .header_btn-spn {
    font-size: 1.5rem;
    height: 70px;
    line-height: 70px;
  }
}

@media (min-width: 1024px) {
  .header_btn-spn {
    font-size: 1.2rem;
    height: 60px;
    line-height: 60px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .header_btn-spn {
    font-size: 2rem;
    height: 95px;
    line-height: 95px;
  }
}

@media (min-width: 1366px) and (min-height: 1024px) {
  .header_btn-spn {
    font-size: 2rem;
    height: 100px;
    line-height: 100px;
  }
}

.skills {
  min-height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .7rem;
  overflow-x: hidden;
}

@media (min-width: 375px) and (min-height: 812px) {
  .skills {
    font-size: 1rem;
  }
}

@media (min-width: 411px) and (min-height: 731px) {
  .skills {
    font-size: .8rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .skills {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .skills {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .skills {
    font-size: 2rem;
  }
}

.skills .skill_leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px 5px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_leftSide {
    margin: 15px 5px;
  }
}

.skills .skill_leftSide-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .skill_leftSide-icon-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 40px;
  margin: 5px;
}

@media (min-width: 375px) and (min-height: 812px) {
  .skills .skill_leftSide-icon-span {
    height: 58px;
  }
}

@media (min-width: 411px) and (min-height: 731px) {
  .skills .skill_leftSide-icon-span {
    height: 55px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .skills .skill_leftSide-icon-span {
    height: 65px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_leftSide-icon-span {
    height: 100px;
    width: 100px;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .skills .skill_leftSide-icon-span {
    height: 75px;
    width: 75px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .skills .skill_leftSide-icon-span {
    height: 110px;
  }
}

.skills .skill_leftSide-icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50px;
  width: 50px;
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 375px) and (min-height: 812px) {
  .skills .skill_leftSide-icon-img {
    height: 58px;
    width: 58px;
  }
}

@media (min-width: 411px) and (min-height: 731px) {
  .skills .skill_leftSide-icon-img {
    height: 55px;
    width: 55px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .skills .skill_leftSide-icon-img {
    height: 65px;
    width: 65px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_leftSide-icon-img {
    height: 100px;
    width: 100px;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .skills .skill_leftSide-icon-img {
    height: 75px;
    width: 75px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .skills .skill_leftSide-icon-img {
    height: 110px;
    width: 110px;
  }
}

.skills .skill_leftSide-line {
  height: 30px;
  width: 170vw;
  position: relative;
  left: -10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-image: url("../assets/skills/leftLine.png");
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_leftSide-line {
    position: relative;
    left: -30px;
  }
}

@media (min-width: 1024px) {
  .skills .skill_leftSide-line {
    position: relative;
    left: -90px;
  }
}

.skills .skill_leftSide-p {
  font-size: .9rem;
  margin: 5px 10px;
  letter-spacing: 0.6px;
}

@media (min-width: 360px) and (min-height: 640px) {
  .skills .skill_leftSide-p {
    font-size: 1rem;
  }
}

@media (min-width: 375px) and (min-height: 812px) {
  .skills .skill_leftSide-p {
    font-size: 1.1rem;
  }
}

@media (min-width: 411px) and (min-height: 731px) {
  .skills .skill_leftSide-p {
    font-size: 1.1rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .skills .skill_leftSide-p {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_leftSide-p {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .skills .skill_leftSide-p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .skills .skill_leftSide-p {
    font-size: 2.2rem;
  }
}

.skills .skill_rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 15px 5px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_rightSide {
    margin: 20px 5px;
  }
}

.skills .skill_rightSide-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.skills .skill_rightSide-icon-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 40px;
  margin: 5px;
}

@media (min-width: 375px) and (min-height: 812px) {
  .skills .skill_rightSide-icon-span {
    height: 58px;
  }
}

@media (min-width: 411px) and (min-height: 731px) {
  .skills .skill_rightSide-icon-span {
    height: 55px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .skills .skill_rightSide-icon-span {
    height: 65px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_rightSide-icon-span {
    height: 100px;
    width: 100px;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .skills .skill_rightSide-icon-span {
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .skills .skill_rightSide-icon-span {
    height: 110px;
  }
}

.skills .skill_rightSide-icon-span:nth-of-type(1) {
  text-align: center;
  width: 70px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_rightSide-icon-span:nth-of-type(1) {
    width: 120px;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .skills .skill_rightSide-icon-span:nth-of-type(1) {
    width: 140px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .skills .skill_rightSide-icon-span:nth-of-type(1) {
    width: 160px;
  }
}

.skills .skill_rightSide-icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50px;
  width: 50px;
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 375px) and (min-height: 812px) {
  .skills .skill_rightSide-icon-img {
    height: 58px;
    width: 58px;
  }
}

@media (min-width: 411px) and (min-height: 731px) {
  .skills .skill_rightSide-icon-img {
    height: 55px;
    width: 55px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .skills .skill_rightSide-icon-img {
    height: 65px;
    width: 65px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_rightSide-icon-img {
    height: 100px;
    width: 100px;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .skills .skill_rightSide-icon-img {
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .skills .skill_rightSide-icon-img {
    height: 110px;
    width: 110px;
  }
}

.skills .skill_rightSide-line {
  height: 30px;
  width: 80vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 110% 100%;
  background-image: url("../assets/skills/rightLine.png");
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_rightSide-line {
    position: relative;
    right: -30px;
  }
}

@media (min-width: 1024px) {
  .skills .skill_rightSide-line {
    position: relative;
    right: -70px;
  }
}

.skills .skill_rightSide-p {
  font-size: .9rem;
  margin: 0px 10px;
  letter-spacing: 0.6px;
}

@media (min-width: 360px) and (min-height: 640px) {
  .skills .skill_rightSide-p {
    font-size: 1rem;
  }
}

@media (min-width: 375px) and (min-height: 812px) {
  .skills .skill_rightSide-p {
    font-size: 1.1rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .skills .skill_rightSide-p {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .skills .skill_rightSide-p {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .skills .skill_rightSide-p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .skills .skill_rightSide-p {
    font-size: 2.2rem;
  }
}

.projects {
  font-size: .7rem;
  min-height: 100vh;
}

.projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 533px) and (orientation: landscape) {
  .projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.projects_card {
  width: 250px;
  height: 400px;
  margin: 20px auto;
  cursor: pointer;
}

@media (min-width: 320px) and (min-height: 568px) {
  .projects_card {
    width: 260px;
    height: 400px;
  }
}

@media (min-width: 360px) {
  .projects_card {
    width: 280px;
  }
}

@media (min-width: 411px) {
  .projects_card {
    height: 410px;
    width: 280px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .projects_card {
    height: 420px;
    width: 300px;
  }
}

@media (min-width: 414px) and (min-height: 736px) {
  .projects_card {
    height: 420px;
    width: 300px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .projects_card {
    height: 370px;
    width: 240px;
  }
}

@media (min-width: 736px) and (orientation: landscape) {
  .projects_card {
    height: 370px;
    width: 250px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .projects_card {
    height: 450px;
    width: 290px;
  }
}

@media (min-width: 1024px) {
  .projects_card {
    height: 370px;
    width: 250px;
    margin: 20px 40px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .projects_card {
    height: 450px;
    width: 350px;
  }
}

@media (min-width: 1440px) {
  .projects_card {
    height: 430px;
    width: 330px;
  }
}

.projects_card-front, .projects_card-back {
  width: 252px;
  height: 400px;
  position: absolute;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
  -webkit-box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

@media (min-width: 320px) and (min-height: 568px) {
  .projects_card-front, .projects_card-back {
    width: 260px;
    height: 400px;
  }
}

@media (min-width: 360px) {
  .projects_card-front, .projects_card-back {
    width: 280px;
  }
}

@media (min-width: 411px) {
  .projects_card-front, .projects_card-back {
    height: 410px;
    width: 280px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .projects_card-front, .projects_card-back {
    height: 420px;
    width: 300px;
  }
}

@media (min-width: 414px) and (min-height: 736px) {
  .projects_card-front, .projects_card-back {
    height: 420px;
    width: 300px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .projects_card-front, .projects_card-back {
    height: 370px;
    width: 240px;
  }
}

@media (min-width: 736px) and (orientation: landscape) {
  .projects_card-front, .projects_card-back {
    height: 370px;
    width: 250px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .projects_card-front, .projects_card-back {
    height: 450px;
    width: 290px;
  }
}

@media (min-width: 1024px) {
  .projects_card-front, .projects_card-back {
    height: 370px;
    width: 250px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .projects_card-front, .projects_card-back {
    height: 450px;
    width: 350px;
  }
}

@media (min-width: 1440px) {
  .projects_card-front, .projects_card-back {
    height: 370px;
    width: 250px;
  }
}

@media (min-width: 1440px) {
  .projects_card-front, .projects_card-back {
    height: 430px;
    width: 330px;
  }
}

.projects_card-front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.projects_card-front-img1 {
  background: url("../assets/projects/Deejee.jpg");
}

.projects_card-front-img2 {
  background: url("../assets/projects/PokeApi.jpg");
}

.projects_card-front-img3 {
  background: url("../assets/projects/PhotoX.jpg");
}

.projects_card-front-img4 {
  background: url("../assets/projects/WeatherApp.jpg");
}

.projects_card-front-img5 {
  background: url("../assets/projects/PhysioTherapySide.jpg");
}

.projects_card-front-img6 {
  background: url("../assets/projects/NotesPHP.png");
}

.projects_card-front .--imgFrontOption {
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects_card-back {
  text-align: center;
  background: black;
  color: #2c3e50;
  position: relative;
  z-index: 1;
}

@media (min-width: 1024px) {
  .projects_card-back {
    -webkit-transform: perspective(600px) rotateY(180deg);
            transform: perspective(600px) rotateY(180deg);
  }
}

.projects_card-back-img {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects_card-back .--imgBackOption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: .3;
  z-index: -1;
}

.projects_card-back-title {
  margin: 20px;
  font-size: 1.3rem;
  color: var(--white);
}

@media (min-width: 320px) and (min-height: 568px) {
  .projects_card-back-title {
    font-size: 1.3rem;
  }
}

@media (min-width: 360px) {
  .projects_card-back-title {
    font-size: 1.3rem;
  }
}

@media (min-width: 411px) {
  .projects_card-back-title {
    font-size: 1.4rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .projects_card-back-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 414px) and (min-height: 736px) {
  .projects_card-back-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .projects_card-back-title {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .projects_card-back-title {
    font-size: 1.8rem;
  }
}

@media (min-width: 1440px) {
  .projects_card-back-title {
    font-size: 2rem;
  }
}

.projects_card-back-txt {
  font-size: 0.9rem;
  margin: 5px 8px;
  line-height: 20px;
  letter-spacing: 1px;
  color: var(--white);
  text-shadow: 0px 2px 3px black;
}

@media (min-width: 320px) and (min-height: 568px) {
  .projects_card-back-txt {
    font-size: 1.1rem;
  }
}

@media (min-width: 360px) {
  .projects_card-back-txt {
    font-size: 1.2rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .projects_card-back-txt {
    font-size: 1.4rem;
  }
}

@media (min-width: 414px) and (min-height: 736px) {
  .projects_card-back-txt {
    font-size: 1.4rem;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .projects_card-back-txt {
    font-size: .9rem;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .projects_card-back-txt {
    font-size: 1.4rem;
    line-height: 25px;
  }
}

@media (min-width: 1440px) {
  .projects_card-back-txt {
    font-size: 1.3rem;
  }
}

.projects_card-back-icon {
  margin: 5px 0;
}

.projects_card-back-icon a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.9rem;
  margin: 5px 10px;
  color: #2f4963;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  color: var(--white);
  text-decoration: none;
}

@media (min-width: 360px) {
  .projects_card-back-icon a {
    font-size: 2.2rem;
  }
}

@media (min-width: 411px) {
  .projects_card-back-icon a {
    font-size: 2.3rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .projects_card-back-icon a {
    font-size: 2.6rem;
    margin: 5px 15px;
  }
}

@media (min-width: 414px) and (min-height: 736px) {
  .projects_card-back-icon a {
    font-size: 2.6rem;
    margin: 8px 15px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .projects_card-back-icon a {
    font-size: 1.8rem;
  }
}

@media (min-width: 1440px) {
  .projects_card-back-icon a {
    font-size: 2rem;
  }
}

.projects_card-back-icon a:hover {
  background: var(--black);
  color: var(--activeColor);
}

@media (min-width: 1024px) {
  .projects .projects_card:hover .projects_card-front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
            transform: perspective(600px) rotateY(-180deg);
  }
  .projects .projects_card:hover .projects_card-back {
    -webkit-transform: perspective(600px) rotateY(0deg);
            transform: perspective(600px) rotateY(0deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --backgroundColorlighter: rgb(34, 40, 49);
  --backgroundColordarker:  rgb(19, 23, 29);
  --activeColor: rgb(255, 252, 1);
  --backgroundTxtAnim: rgb(0, 0, 0);
  --black: rgb(36, 36, 36);
  --white: rgb(241, 240, 240);
  --pink: #ff00c6;
  --color-blue: #0c2ffb;
  --color-aqua: #2cfcfd;
  --color-red: #fb203b;
  --color-yellow: #fefc4b;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 10px;
  position: relative;
  margin: 0 auto;
  background-image: url(../assets/backgounds/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.txt-h2 {
  font-size: 2.5rem;
  margin: 30px 20px;
  letter-spacing: 3px;
  -webkit-animation-name: shadowAnimation;
          animation-name: shadowAnimation;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media (min-width: 360px) {
  .txt-h2 {
    font-size: 2.7rem;
  }
}

@media (min-width: 411px) {
  .txt-h2 {
    font-size: 2.9rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .txt-h2 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .txt-h2 {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .txt-h2 {
    font-size: 3.5rem;
    margin: 80px 20px 100px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .txt-h2 {
    font-size: 5.5rem;
  }
}

.aboutMe {
  min-height: 100vh;
}

.aboutMe_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutMe_spn {
  display: block;
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
  margin: 20px 10px;
}

@media (min-width: 360px) {
  .aboutMe_spn {
    font-size: 1.1rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .aboutMe_spn {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .aboutMe_spn {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .aboutMe_spn {
    font-size: 2rem;
  }
}

.aboutMe_img {
  height: 200px;
  width: 200px;
  display: block;
  margin: 10px auto;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 0px 2px black;
          box-shadow: 0px 0px 0px 2px black;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .aboutMe_img {
    height: 300px;
    width: 300px;
    border-radius: 160px;
  }
}

@media (min-width: 1024px) {
  .aboutMe_img {
    height: 300px;
    width: 300px;
    border-radius: 160px;
  }
}

.aboutMe_name {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 10px;
}

@media (min-width: 360px) {
  .aboutMe_name {
    font-size: 1.3rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .aboutMe_name {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .aboutMe_name {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .aboutMe_name {
    font-size: 1.8rem;
  }
}

.aboutMe_txt {
  font-size: 1rem;
  margin: 10px;
  letter-spacing: 1px;
  text-align: center;
}

@media (min-width: 360px) {
  .aboutMe_txt {
    font-size: 1.1rem;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .aboutMe_txt {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .aboutMe_txt {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .aboutMe_txt {
    font-size: 1.5rem;
    margin: 10px 20px;
  }
}

.aboutMe_cv {
  height: 55px;
  width: 130px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
  text-transform: uppercase;
  font-size: .9rem;
  margin: 10px;
  border-radius: 100px;
  border: 2px solid var(--activeColor);
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

@media (min-width: 360px) {
  .aboutMe_cv {
    height: 60px;
    width: 140px;
    font-size: 1rem;
  }
}

@media (min-width: 411px) {
  .aboutMe_cv {
    width: 160px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .aboutMe_cv {
    font-size: 1.2rem;
    height: 65px;
    width: 180px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .aboutMe_cv {
    font-size: 1.6rem;
    height: 80px;
    width: 250px;
  }
}

@media (min-width: 1024px) {
  .aboutMe_cv {
    font-size: 1.5rem;
    height: 80px;
    width: 250px;
  }
}

.aboutMe_cv:hover {
  -webkit-box-shadow: 0 5px 50px 0 var(--pink) inset, 0 5px 50px 0 var(--pink), 0 5px 50px 0 var(--pink) inset, 0 5px 50px 0 var(--pink);
          box-shadow: 0 5px 50px 0 var(--pink) inset, 0 5px 50px 0 var(--pink), 0 5px 50px 0 var(--pink) inset, 0 5px 50px 0 var(--pink);
}

.aboutMe_cv-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 50px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

@media (min-width: 360px) {
  .aboutMe_cv-link {
    line-height: 55px;
  }
}

@media (min-width: 411px) {
  .aboutMe_cv-link {
    line-height: 60px;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .aboutMe_cv-link {
    line-height: 65px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .aboutMe_cv-link {
    line-height: 80px;
  }
}

@media (min-width: 1024px) {
  .aboutMe_cv-link {
    line-height: 80px;
  }
}
/*# sourceMappingURL=main.css.map */