// font-family: 'Merriweather', serif;
// font-family: 'Oswald', sans-serif;

// font-family: 'Sigmar One', cursive;
// font-family: 'Merriweather Sans', sans-serif;
// font-family: 'Oswald', sans-serif;

@import "reset";
@import "animation";
@import "header";
@import "skills";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --activeColor: rgba(255, 255, 0, 1);
  --backgroundTxtAnim: rgb(0, 0, 0);
  --black: rgb(36, 36, 36);
  --white: rgb(241, 240, 240);
  // animation h2
  --color-blue: #0c2ffb;
  --color-aqua: #2cfcfd;
  --color-red: #fb203b;
  --color-yellow: #fefc4b;
}

html {
  font-family: "Merriweather", serif;
}
h1 {
  font-family: "Oswald";
}
h2 {
  font-family: "Sigmar One", cursive;
}
body {
  overflow-x: hidden;
  font-size: 10px;
  position: relative;
  // max-width: 1600px;
  margin: 0 auto;
  background-image: url(../assets/backgounds/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 5% center;
  @media (min-width: 533px) and (orientation: landscape) {
    background-position: center center;
    background-size: 100% 115%;
  }
  @media (min-width: 731px) and (orientation: landscape) {
    background-position: center center;
    background-size: 100% 110%;
  }
  @media (min-width: 1024px) {
    background-position: center center;
    background-size: 100% 100%;
  }
}


.projects{
  font-size: .7rem;
  min-height: 100vh;
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    @media(min-width:533px) and(orientation:landscape){
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  @media(min-width:768px) and(min-height: 1024px){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    }
  @media(min-width:1024px){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  }
  &_card{
    width: 250px;
    height: 400px;
    margin: 20px auto;
    cursor: pointer;
    @media(min-width:320px) and (min-height:568px) {
      width: 260px;
      height: 400px;
  }
    @media(min-width:360px){
      width: 280px;
      }
    @media(min-width:411px){
      height: 410px;
      width: 280px;
      }
    @media(min-width:411px) and(min-height: 823px){
      height: 420px;
      width: 300px;
      }
    @media(min-width:414px) and(min-height: 736px){
      height: 420px;
      width: 300px;
      }
      @media(min-width:533px) and(orientation:landscape){
        height: 370px;
        width: 240px;
      }
      @media(min-width:736px) and (orientation:landscape){
        height: 370px;
        width: 250px;
      }
      @media(min-width:768px) and(min-height: 1024px){
        height: 450px;
        width: 290px;
    }
      @media(min-width:1024px){
        height: 370px;
        width: 250px;
        margin: 20px 40px;
      }
      @media(min-width:1024px) and(min-height: 1366px){
        height: 450px;
        width: 350px;
    }
    @media(min-width:1440px){
      height: 430px;
      width: 330px;
      }
    &-front, &-back{
      width: 252px;
      height: 400px;
      position: absolute;
      overflow: hidden;
      backface-visibility: hidden;
      transition: transform .6s linear;
      box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.75);
      border-radius: 20px;
      @media(min-width:320px) and (min-height:568px) {
        width: 260px;
        height: 400px;
          }
      @media(min-width:360px){
        width: 280px;
          }
      @media(min-width:411px){
        height: 410px;
        width: 280px;
          }
      @media(min-width:411px) and(min-height: 823px){
        height: 420px;
        width: 300px;
          }
      @media(min-width:414px) and(min-height: 736px){
        height: 420px;
        width: 300px;
          }
      @media(min-width:533px) and(orientation:landscape){
        height: 370px;
        width: 240px;
          }
      @media(min-width:736px) and (orientation:landscape){
        height: 370px;
        width: 250px;
          }
      @media(min-width:768px) and(min-height: 1024px){
        height: 450px;
        width: 290px;
        }
      @media(min-width:1024px){
        height: 370px;
        width: 250px;
        }
      @media(min-width:1024px) and(min-height: 1366px){
        height: 450px;
        width: 350px;
      } 
      @media(min-width:1440px){
        height: 370px;
        width: 250px;
        }
        @media(min-width:1440px){
          height: 430px;
          width: 330px;
          }
    }
    &-front{
      transform: perspective(600px) rotateY(0deg);
      &-img1{
        background: url("../assets/projects/Deejee.jpg");
      }
      &-img2{
        background: url("../assets/projects/PokeApi.jpg");
      }
      &-img3{
        background: url("../assets/projects/PhotoX.jpg");
      }
      &-img4{
        background: url("../assets/projects/WeatherApp.jpg");
      }
      &-img5{
        background: url("../assets/projects/PhysioTherapySide.jpg");
      }
      &-img6{
        background: url("../assets/projects/NotesPHP.jpg");
      }
      .--imgFrontOption
        {
          height: 100%;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }
    }
    &-back{
      text-align: center;
      background: black;
      color: #2c3e50;
      position: relative;
      z-index: 1;
      @media(min-width:1024px){
        transform: perspective(600px) rotateY(180deg);
      }
      &-img{
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .--imgBackOption
        {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          opacity: .3;
          z-index: -1;
          @media(min-width:1024px){

          }
        
        }
      &-title{
        margin: 20px;
        font-size: 1.2rem;
        color: var(--white);
        @media(min-width:320px) and (min-height:568px) {
          font-size: 1.3rem;
          }
        @media(min-width:360px){
          font-size: 1.3rem;
          }
        @media(min-width:411px){
            font-size: 1.4rem;
          }
        @media(min-width:411px) and(min-height: 823px){
            font-size: 1.5rem;
          }
        @media(min-width:414px) and(min-height: 736px){
            font-size: 1.5rem;
            }  
        @media(min-width:533px) and(orientation:landscape){
          font-size: 1.2rem;
        }
        @media(min-width:1024px) and(min-height: 1366px){
          font-size: 1.8rem
      }
      @media(min-width:1440px){
        font-size: 2rem
        }
      }
      &-txt{
        font-size: 1rem;
        margin: 5px 8px;
        line-height: 20px;
        letter-spacing: 1px;
        color: var(--white);
        text-shadow: 0px 2px 3px black;
        @media(min-width:320px) and (min-height:568px) {
          font-size: 1.1rem;
          }
        @media(min-width:360px){
          font-size: 1.2rem;
          }
        @media(min-width:411px) and(min-height: 823px){
          font-size: 1.4rem;
          }
          @media(min-width:414px) and(min-height: 736px){
            font-size: 1.4rem;
            } 
          @media(min-width:533px) and(orientation:landscape){
            font-size: .9rem;
          }
          @media(min-width:1024px) and(min-height: 1366px){
            font-size: 1.4rem;
            line-height: 25px;
        }
        @media(min-width:1440px){
          font-size: 1.3rem;
          }
      }
      &-icon{
        margin: 5px 0;
        & a{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          font-size: 1.9rem;
          margin: 5px 10px ;
          color: #2f4963;
          transition: 0.4s;
          border-radius: 50%;
          color: var(--white);
          @media(min-width:360px){
            font-size: 2.2rem;
          }
        @media(min-width:411px){
          font-size: 2.3rem;
          }
        @media(min-width:411px) and(min-height: 823px){
          font-size: 2.6rem;
          margin: 5px 15px ;
          }
        @media(min-width:414px) and(min-height: 736px){
            font-size: 2.6rem;
            margin: 8px 15px ;
            } 
          @media(min-width:533px) and(orientation:landscape){
            font-size: 1.8rem;
          }
          &:hover{
            background: var(--black);
            color: var(--activeColor);
          }
        }
      }
    }

  }
  @media(min-width:1024px){
    .projects_card:hover .projects_card-front{
      transform: perspective(600px) rotateY(-180deg);
    }
    .projects_card:hover .projects_card-back{
      transform: perspective(600px) rotateY(0deg);
    }
}
}
