// font-family: 'Merriweather', serif;
// font-family: 'Oswald', sans-serif;

// font-family: 'Sigmar One', cursive;
// font-family: 'Merriweather Sans', sans-serif;
// font-family: 'Oswald', sans-serif;

@import "reset";
@import "menu";
@import "animation";
@import "header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --activeColor: rgba(255, 255, 0, 1);
  --backgroundTxtAnim: rgb(0, 0, 0);
  --black: rgb(36, 36, 36);
  --white: rgb(241, 240, 240);
  // animation h2
  --color-blue: #0c2ffb;
  --color-aqua: #2cfcfd;
  --color-red: #fb203b;
  --color-yellow: #fefc4b;
}

html {
  font-family: "Merriweather", serif;
}
h1 {
  font-family: "Oswald";
}
h2 {
  font-family: "Sigmar One", cursive;
}
body {
  overflow-x: hidden;
  font-size: 10px;
  position: relative;
  // max-width: 1600px;
  margin: 0 auto;
  background-image: url(../assets/backgounds/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 5% center;
  @media (min-width: 533px) and (orientation: landscape) {
    background-position: center center;
    background-size: 100% 115%;
  }
  @media (min-width: 731px) and (orientation: landscape) {
    background-position: center center;
    background-size: 100% 110%;
  }
  @media (min-width: 1024px) {
    background-position: center center;
    background-size: 100% 100%;
  }
}

// start of section Skills
.txt-h2 {
  font-size: 1.8rem;
  margin: 20px 20px 30px 10px;
  letter-spacing: 3px;
  animation-name: shadowAnimation;
  animation-duration: 1.5s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.skills {
  min-height: 140vh;
  display: flex;
  flex-direction: column;

  & .skill_leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 5px;
    &-icon {
      display: flex;
      margin: 10px;
      &-span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 35px;
        margin: 5px;
      }
      &-img {
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 45px;
        width: 45px;
        margin: 5px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &-line {
      height: 30px;
      width: 80vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 50% 100%;
      background-image: url("../assets/skills/leftLine.png");
    }
    &-p {
      font-size: 0.7rem;
      margin: 5px 10px;
      letter-spacing: 0.6px;
    }
  }
  & .skill_rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 5px;
    &-icon {
      display: flex;
      margin: 10px;
      &-span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 35px;
        margin: 5px;
      }
      &-span:nth-of-type(1) {
        text-align: center;
        width: 70px;
      }
      &-img {
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 45px;
        width: 45px;
        margin: 5px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &-line {
      height: 30px;
      width: 80vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 110% 100%;
      background-image: url("../assets/skills/rightLine.png");
    }
    &-p {
      font-size: 0.7rem;
      margin: 0px 10px;
      letter-spacing: 0.6px;
    }
  }
}

// end of section skills
